Slack Topic Research to Newsletter and Distribution.json
{
  "name": "Slack Topic Research to Newsletter and Distribution",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "df59f48c-ba39-4094-94b5-10af239525b1",
      "name": "Slack Message Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        32
      ],
      "webhookId": "57ee4b47-8918-4c6f-879d-8ce8893b6bc6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "recipientEmail",
              "value": "<__PLACEHOLDER_VALUE__Email address to send newsletter to__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "slackChannelId",
              "value": "<__PLACEHOLDER_VALUE__Slack channel ID to post newsletter__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f135bf45-08c8-4aa6-b247-67d8fcec15cf",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research topic: {{ $json.event.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a research and newsletter creation assistant.\n\nYour task is to:\n1. Use the SerpAPI Research Tool to search for comprehensive information about the topic provided by the user\n2. Gather multiple sources and perspectives on the topic\n3. Analyze and synthesize the research findings\n4. Create a beautiful, well-structured HTML newsletter that includes:\n   - An engaging headline\n   - A brief introduction\n   - Key findings organized into sections\n   - Relevant quotes or statistics\n   - Source citations\n   - A conclusion or call-to-action\n\nThe newsletter should be professional, informative, and visually appealing when rendered as HTML. Use proper HTML formatting with headings, paragraphs, lists, and styling.\n\nReturn the complete HTML newsletter in the structured format defined by the output parser."
        }
      },
      "id": "6d305026-6550-41b3-8a87-563c0e065f5d",
      "name": "Research and Newsletter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "6f8aeaae-917c-449a-b730-12481b15326d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "XN7UUHKAbD64mjM2",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.event.user }}"
      },
      "id": "e922eea0-8528-43e9-9f9b-ef7453e77cb9",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb97792f-511f-442a-a35e-a6a282076acf",
      "name": "SerpAPI Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -352,
        256
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"newsletterHTML\": {\n      \"type\": \"string\",\n      \"description\": \"Complete HTML newsletter content with proper formatting, headings, paragraphs, and styling\"\n    },\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"Email subject line for the newsletter\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief plain text summary of the newsletter content for Slack\"\n    }\n  },\n  \"required\": [\"newsletterHTML\", \"subject\", \"summary\"]\n}"
      },
      "id": "b29d6b7d-e992-4517-a57c-0930c3036e3a",
      "name": "Newsletter Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        256
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').first().json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.newsletterHTML }}",
        "options": {}
      },
      "id": "3c27c03c-482d-45a0-8afa-6ddc65e2bfb2",
      "name": "Send Newsletter via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        -64
      ],
      "webhookId": "a071530a-8fb6-435c-8ced-5950ff2454ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "iN5YKUzr7w81ANP2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.slackChannelId }}"
        },
        "text": "=📧 *Newsletter Created: {{ $json.subject }}*\n\n{{ $json.summary }}\n\n_Full newsletter has been sent via email._",
        "otherOptions": {}
      },
      "id": "49a40599-081b-4e27-99b7-293e2328444a",
      "name": "Send Newsletter to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -16,
        128
      ],
      "webhookId": "cb9fe911-3850-4a7f-8beb-9cb0e150bef9"
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Message Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Research and Newsletter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research and Newsletter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research and Newsletter Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Research and Newsletter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Research and Newsletter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research and Newsletter Agent": {
      "main": [
        [
          {
            "node": "Send Newsletter via Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Newsletter to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9612381f-10e0-4dec-9a9f-2332c994aecb",
  "meta": {
    "instanceId": "c557dbeb3684a8fa3d9d8eb0560f1cb82b58e38532ee7208e642ecee8ad80745"
  },
  "id": "FOFTEUsZQlwmODwFaQuSz",
  "tags": []
}